<article class="product-item">
  <% if (locals.isAdmin) { %>
  <img src="<%= product.imageUrl %>" alt="<%= product.title %>" />
  <div class="product-item-content">
    <h2 class="text-truncate"><%= product.title %></h2>
    <div class="product-item-actions">
      <button
        type="button"
        class="btn btn-alt"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal<%= i %>"
      >
        <i class="fa-solid fa-pen-to-square"></i>
      </button>

      <form action="/admin/products/delete/<%= product.id %>" method="POST">
        <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
        <button class="btn btn-alt">
          <i class="fa-solid fa-trash"></i>
        </button>
      </form>
    </div>
  </div>
  <% } else { %>
  <a href="/products/<%= product.id %>">
    <img src="<%= product.imageUrl %>" alt="<%= product.title %>" />
    <div class="product-item-content">
      <h2 class="text-truncate"><%= product.title %></h2>
    </div>
  </a>
  <% } %>
</article>

<% if(locals.isAdmin) { %> 
  <%- include('../../admin/products/includes/product-form', { submitPath: '/admin/products/' + product.id, title: 'Update product', i: i, product: product, category: category, imageRequired: false }) %> 
<% } %>
