<%- include('../../shared/homepage/head', { pageTitle: 'All Accounts' }) %>
</head>

<body>
  <%- include('../../shared/homepage/header') %>
  <main>
    <h1 class="my-2">Account Management</h1>
    <section>
      <p>
        <button type="button" class="btn btn-solid mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="fa-solid fa-user-plus me-1"></i>
          Add Account
        </button>

        <form action="/admin/accounts?_csrf=<%= locals.csrfToken %>" method="POST">
          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5 text-black" id="exampleModalLabel">Add new account</h1>
                  <button
                    type="reset"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <%- include('../../shared/account/includes/account-add-form', { inputData: inputData }) %>
                </div>
                <div class="modal-footer">
                  <button
                    type="reset"
                    class="btn btn-alt text-secondary border-secondary"
                  >
                    <i class="fa-solid fa-arrow-rotate-right"></i> 
                    Reset
                  </button>
                  <button type="submit" class="btn bg-primary border-primary" id="saveButton">
                    <i class="fa-solid fa-check"></i> 
                    Save
                  </button>
                </div>
              </div>
            </div>
          </div>

          <%- include('../../admin/popup/includes/notification', { message: inputData.errorMessage, isError: true }) %>
        </form>
      </p>
    </section>
    <section class="table-responsive">
      <table class="table table-striped table-hover mt-4 text-center table-bordered border-secondary">
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Manage</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <% for (const account of accounts) { %>
            <% const i = accounts.indexOf(account) %>
            <tr>
              <td><%= account.username %></td>
              <td><%= account.fullname %></td>
              <td>
                <% if(account.isAdmin) { %> 
                  Admin
                <% } else { %>  
                  Customer 
                <% } %> 
              </td>
              <td>
                <% if (!account.isAdmin) { %>
                  <button 
                    type="button"
                    class="btn btn-alt"
                    data-bs-toggle="modal"
                    data-bs-target="#YesNoModal<%= i %>"
                  >
                    <i class="fa-solid fa-ban"></i>
                  </button>
                  <%- include('../../admin/popup/includes/yes-no-popup', { submitPath: '/admin/accounts/delete/' + account._id, message: 'block this account?', i: i }) %>
                <% } %>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </section>
  </main>

<%- include('../../shared/homepage/footer') %>