<%- include('../../shared/homepage/head', { pageTitle: 'Signup' }) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">

</head>
<body>
  <%- include('../../shared/homepage/header') %>
  <main>
    <nav class="nav nav-pills nav-justified border rounded my-3 w-50 mx-auto">
      <a class="nav-link" href="/login">Login</a>
      <a class="nav-link active" aria-current="page" href="#">Signup</a>
    </nav>
    <form action="/signup?_csrf=<%= locals.csrfToken %>" method="POST" class="form text-center fadeUp">
      <%- include('../../shared/account/includes/account-add-form', { inputData: inputData }) %>
      <hr>
      <button class="btn btn-solid">Create Account</button>
    </form>
    <%-include('../../admin/popup/notification', { message: inputData.errorMessage, isError: true }) %>
  </main>
<%- include('../../shared/homepage/footer') %>