<%- include('../../shared/homepage/head', { pageTitle: 'All Categories' }) %>
<script src="/scripts/image-preview.js" defer></script>

</head>
<body>
  <%- include('../../shared/homepage/header') %>
  <main>
    <h1 class="my-2">Category Management</h1>
    <section>
      <p>
        <button type="button" class="btn btn-solid mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="fa-solid fa-circle-plus me-1"></i>
          Add Category
        </button>

        <%- include('includes/category-form', { submitPath: '/admin/categories', title: 'Add new category', i: '', category: {
          title: ''
        }}) %>
      </p>
    </section>
    <section>
      <table class="table table-striped table-hover mt-4 text-center table-bordered border-secondary">
        <thead>
          <tr>
            <th scope="col">Category</th>
            <th scope="col">Manage</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <% for (const category of categories) { %>
            <tr>
              <td><%= category.title %></td>
              <td>
                <section class="d-inline-flex">
                  <% const i = categories.indexOf(category) %>
                  <button
                    type="button"
                    class="btn btn-alt"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal<%= i %>"
                  >
                    <i class="fa-solid fa-pen-to-square"></i>
                  </button>
  
                  <form action="/admin/categories/delete/<%= category.id %>" method="POST">
                    <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
                    <button class="btn btn-alt mx-2" type="submit">
                      <i class="fa-solid fa-trash"></i>
                    </button>
                  </form>
  
                  <a class="btn btn-alt" href="/categories/<%= category.id %>">
                    <i class="fa-solid fa-list"></i>
                  </a>
                </section>
              </td>
            </tr>
            <%- include('includes/category-form', { submitPath: '/admin/categories/' + category.id, title: 'Update category', i: i, category: category }) %>
          <% } %>
        </tbody>
      </table>
    </section>
  </main>
<%- include('../../shared/homepage/footer') %>