<%- include('../../shared/includes/head', { pageTitle: product.title }) %>
<link rel="stylesheet" href="/styles/products.css">
<script src="/scripts/cart-management.js" defer></script>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main id="product-details">
    <header>
      <img src="<%= product.imageUrl %>" alt="<%= product.title %>" id="picture">
      <div id="product-info">
        <h1><%= product.title %></h1>
        <p><%= product.price %> VND</p>
        <button class="btn" data-productid="<%= product.id %>" data-csrf="<%= locals.csrfToken %>">Add to Cart</button>
      </div>
    </header>
    
    <p id="product-description"><%= product.description %></p>

    <p class="text-warning fw-bold">RELATED PRODUCTS</p>

    <ul id="products-grid">
      <% for (const rp of related_products) { %>
        <li>
          <%- include('../../shared/includes/product-item', { product: rp }) %>
        </li>
      <% } %>
    </ul>
  </main>
<%- include('../../shared/includes/footer') %>