<%- include('../../shared/homepage/head', { pageTitle: account.username }) %>
</head>
<body>
  <%- include('../../shared/homepage/header') %>
  <main>
    <header>
      <article class="d-flex">
        <img class="rounded-circle img-thumbnail my-4 me-3" style="width: 6rem; height: 6rem;" src="<%= account.imageUrl %>" alt="<%= account.username %>" />
        <h1 class="my-5">Hello <%= account.username %></h1>
      </article>
      
      <p>Fullname: <%= account.name %></p>
      <p>Street: <%= account.address.street %></p>
      <p>Postal Cost: <%= account.address.postalCode %></p>
      <p>City: <%= account.address.city %></p>

      <form action="/accounts/<%= account.id %>" method="GET">
        <button class="btn btn-solid" type="submit"><i class="fa-solid fa-pen-to-square me-1"></i> Update</button>
      </form>
    </header>
  </main>
<%- include('../../shared/homepage/footer') %>