<%- include('../../shared/homepage/head', { pageTitle: 'Avaiable Vouchers' }) %>
<link rel="stylesheet" href="/styles/vouchers.css">
<script src="/scripts/image-preview.js" defer></script>
<script src="/scripts/show-toast.js" defer></script>
<script src="/scripts/voucher-management.js" defer></script>
</head>

<body>
  <%- include('../../shared/homepage/header') %>
  <main>
    <h1 class="my-2">Avaiable Vouchers</h1>
    <section>
      <p>
        <button type="button" class="btn btn-solid mt-3" data-bs-toggle="modal" data-bs-target="#voucherModal">
          <i class="fa-solid fa-circle-plus me-1"></i>
          Add Voucher
        </button>
      </p>

      <% const today = new Date();
        const tomorrow = new Date(today);
        tomorrow.setDate(today.getDate() + 1); %>
      <%- include('../../admin/vouchers/includes/voucher-form', { submitPath: '/admin/vouchers', title: 'Add new voucher', i: '', voucher: {
        title: '',
        imageUrl: '',
        value: '',
        point: 10,
        expiration: tomorrow
      }, tomorrow: tomorrow, imageRequired: true }) %>
    </section>

    <% if(vouchers.length === 0) { %>
      <i><h4 class="text-center text-secondary mt-5">No vouchers avaiable</h4></i>
    <%} else {%>
      <ol>
        <% for (const voucher of vouchers) { %>
          <li><%- include('includes/voucher-item', { voucher: voucher, i: vouchers.indexOf(voucher), tomorrow: tomorrow }) %></li>
        <% } %>
      </ol>
    <% } %>
  </main>
  <%- include('../../shared/homepage/footer') %>
</body>
