<link rel="stylesheet" href="/styles/forms.css" />

<form
  action="<%= submitPath %>?_csrf=<%= locals.csrfToken %>"
  method="POST"
  enctype="multipart/form-data"
  class="voucher-form"
>
  <section
    class="modal fade"
    id="voucherModal<%= i %>"
    tabindex="-1"
    aria-labelledby="voucherModalLabel"
    aria-hidden="true"
  >
    <section class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <section class="modal-content">
        <section class="modal-header">
          <h1 class="modal-title fs-5 text-black" id="voucherModalLabel">
            <%= title %>
          </h1>
          <button
            type="reset"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </section>
        <section class="modal-body">
          <p>
            <label for="title">Title (<span class="text-danger">*</span>)</label>
            <input
              type="text"
              id="title"
              name="title"
              value="<%= voucher.title %>"
              class="form-control"
              required
            />
          </p>

          <section class="image-upload-control">
            <p>
              <label for="image">Icon (<span class="text-danger">*</span>)</label>
              <input
                type="file"
                accept="image/png,image/jpg"
                id="image"
                name="image"
                class="text-black border-0"
                <%= imageRequired ? 'required' : '' %> 
              />
            </p>

            <img src="<%= voucher.imageUrl %>" alt="Selected image." />
          </section>

          <p>
            <input type="text" id="value" name="value" class="d-none" />
            <article class="fw-medium mb-1">Value (<span class="text-danger">*</span>)</article>
            <article class="d-flex gap-1">
              <input type="radio" name="radioButton" id="discountButton<%= i %>" <%= voucher.value[0] === 'd' || !voucher.value ? 'checked' : '' %> />
              <label role="button" class="fw-normal m-0" for="discountButton<%= i %>">
                Discount
              </label>
              <input
                type="range"
                id="discount"
                name="discount"
                value="<%= voucher.value[0] === 'd' ? voucher.value.match(/\d+/)[0] : 1 %>"
                type="range" 
                min="1" 
                max="99" 
                step="1"
                class="discount form-range ms-1"
                style="width: 10rem"
                required
              /> 
              <output class="discount ms-1" id="discountValue"><%= voucher.value[0] === 'd' ? voucher.value.match(/\d+/)[0] : 1 %>%</output>
            </article>
            <article class="d-flex gap-1 my-2">
              <input type="radio" name="radioButton" id="getFreeButton<%= i %>" <%= voucher.value[0] === 'g' ? 'checked' : '' %>>
              <label role="button" class="fw-normal m-0" for="getFreeButton<%= i %>">
                Get free
              </label>
              <% const valueParts = voucher.value.split('-') %>
              <input
                type="number"
                id="quantity"
                name="quantity"
                value="<%= voucher.value[0] === 'g' ? valueParts[0].match(/\d+/)[0] : '' %>"
                min="1"
                max="999"
                class="free d-none"
                style="width: 3rem"
                data-bs-container="body" 
                data-bs-toggle="popover" 
                data-bs-trigger="hover" 
                data-bs-placement="top"
                data-bs-content="Quantity (an integer from 1 to 999)"
              />
              <input
                type="text"
                id="product"
                name="product"
                value="<%= voucher.value[0] === 'g' ? valueParts[1] : '' %>"
                class="free d-none"
                data-bs-container="body" 
                data-bs-toggle="popover" 
                data-bs-trigger="hover" 
                data-bs-placement="top"
                data-bs-content="Name of product"
              />
            </article>
            <article class="d-flex gap-1">
              <input type="radio" name="radioButton" id="extraButton<%= i %>" <%= voucher.value[0] === 'e' ? 'checked' : '' %>>
              <label role="button" class="fw-normal m-0" for="extraButton<%= i %>">
                Extra
              </label>
              <input
                type="number"
                id="extraPoint"
                name="extraPoint"
                value="<%= voucher.value[0] === 'e' ? voucher.value.match(/\d+/) : '' %>"
                min="1"
                max="99999"
                class="extra d-none"
                style="width: 4.25rem"
                data-bs-container="body" 
                data-bs-toggle="popover" 
                data-bs-trigger="hover" 
                data-bs-placement="top"
                data-bs-content="Points (an integer from 1 to 99999)"
              />
              <article class="extra d-none">
                points
              </article>
            </article>
          </p>

          <p>
            <label for="point">Point (<span class="text-danger">*</span>)</label>
            <input
              type="number"
              id="point"
              name="point"
              value="<%= voucher.point %>"
              min="1"
              class="form-control"
              required
            />
          </p>

          <p>
            <label for="expiration">Expiration (<span class="text-danger">*</span>)</label>
            <input
              type="date"
              id="expiration"
              name="expiration"
              min="<%= tomorrow.toISOString().split('T')[0] %>"
              value="<%= voucher.expiration.toISOString().split('T')[0] %>"
              class="form-control"
              required
            />
          </p>
        </section>
        <section class="modal-footer">
          <button
            type="reset"
            class="btn btn-alt text-secondary border-secondary"
          >
            <i class="fa-solid fa-arrow-rotate-right"></i> Reset
          </button>
          <button class="btn bg-primary border-primary">
            <i class="fa-solid fa-check"></i>
            Save
          </button>
        </section>
      </section>
    </section>
  </section>
</form>
