<link rel="stylesheet" href="/styles/forms.css" />

<form
  action="<%= submitPath %>?_csrf=<%= locals.csrfToken %>"
  method="POST"
  enctype="multipart/form-data"
>
  <div
    class="modal fade"
    id="exampleModal<%= i %>"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-black" id="exampleModalLabel">
            <%= title %>
          </h1>
          <button
            type="reset"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>
            <label for="title">Title (<span class="text-danger">*</span>)</label>
            <input
              type="text"
              id="title"
              name="title"
              value="<%= product.title %>"
              class="form-control"
              required
            />
          </p>

          <input
            id="cateId"
            name="cateId"
            value="<%= category.id %>"
            class="d-none"
          />
          <p class="fw-medium">
            <span class="text-black">Category:</span>
            <span class="badge py-2 bg-success"><%= category.title %></span>
          </p>

          <section class="image-upload-control">
            <p>
              <label for="image">Image (<span class="text-danger">*</span>)</label>
              <input
                type="file"
                accept="image/png,image/jpg"
                id="image"
                name="image"
                class="text-black border-0"
                <% if(imageRequired) { %> required <% } %> 
              />
            </p>

            <img src="<%= product.imageUrl %>" alt="Selected image." />
          </section>

          <p>
            <label for="summary">Summary (<span class="text-danger">*</span>)</label>
            <input
              type="text"
              id="summary"
              name="summary"
              value="<%= product.summary %>"
              class="form-control"
              required
              maxlength="250"
            />
          </p>

          <p>
            <label for="price">Price (<span class="text-danger">*</span>)</label>
            <input
              type="number"
              id="price"
              name="price"
              value="<%= product.price %>"
              min="500"
              step="500"
              class="form-control"
              required
            />
          </p>

          <p>
            <label for="description">Description (<span class="text-danger">*</span>)</label>
            <textarea
              id="description"
              name="description"
              rows="5"
              class="form-control"
              required
            >
<%= product.description %></textarea
            >
          </p>
        </div>
        <div class="modal-footer">
          <button
            type="reset"
            class="btn btn-alt text-secondary border-secondary"
          >
            <i class="fa-solid fa-arrow-rotate-right"></i> Reset
          </button>
          <button class="btn bg-primary border-primary">
            <i class="fa-solid fa-check"></i>
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
