  <%- include('../../shared/homepage/head', { pageTitle: 'Your Cart' }) %>
  <link rel="stylesheet" href="/styles/cart.css">
  <link rel="stylesheet" href="/styles/forms.css">
  <script src="/scripts/cart-item-management.js" defer></script>
</head>

<body>
  <%- include('../../shared/homepage/header') %>
  <main>
    <h1 class="my-2">Your Cart</h1>
    <ul id="cart-items">
      <% for (const cartItem of locals.cart.items) { %>
        <li>
          <%- include('includes/cart-item', { item: cartItem }) %>
        </li>
      <% } %>
    </ul>
    <section id="cart-total">
      <p>Total: <span id="cart-total-price"><%= locals.cart.totalPrice.toLocaleString('vi-VN') %></span> VND</p>

      <% if (locals.cart.totalPrice > 0) { %>
        <button 
          type="button"
          class="btn btn-solid"
          data-bs-toggle="modal"
          data-bs-target="#YesNoModal"
        >
          <i class="fa-solid fa-bag-shopping me-1"></i> 
          Buy Products
        </button>
      <% } %>
    </section>
    
    <%- include('../../admin/popup/includes/yes-no-popup', { submitPath: '/orders', message: 'pay for this order?', i: '' }) %>
    <%- include('../../admin/popup/includes/notification', { message: inputData.message, isError: inputData.isError }) %>
  </main>
<%- include('../../shared/homepage/footer') %>