<%- include('../../shared/includes/head', { pageTitle: account.username }) %>
<link rel="stylesheet" href="/styles/products.css">
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main id="product-details">
    <header>
      <div id="product-info">
        <h1>Hello <%= account.username %></h1>
        
        <p>Fullname: <%= account.name %></p>
        <p>Street: <%= account.address.street %></p>
        <p>Postal Cost: <%= account.address.postalCode %></p>
        <p>City: <%= account.address.city %></p>
        <form action="/accounts/<%= account.id %>" method="GET">
          <button class="btn" type="submit">Update</button>
        </form>
      </div>
    </header>
  </main>
<%- include('../../shared/includes/footer') %>