<%- include('../../shared/homepage/head', { pageTitle: 'Statistics' }) %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="/scripts/statistic-management.js" defer></script>
</head>
<body>
  <%- include('../../shared/homepage/header') %>
  <main>
    <h1 class="my-2">
      Sales Statistics
    </h1>
    <section class="d-flex my-3">
      <label for="time" class="fs-3 me-2"><i class="fa-solid fa-clock"></i> Time range</label>
      <select name="time" id="time" class="rounded-2">
        <option value="month">By months in current year</option>
        <option value="year">The last 10 years</option>
      </select>

      <button class="btn btn-solid mx-3" data-csrf="<%= locals.csrfToken %>" id="revenue">
        <i class="fa-solid fa-dollar-sign me-1"></i>
        Revenue
      </button>
      <button class="btn btn-solid" data-csrf="<%= locals.csrfToken %>" id="quantity">
        <i class="fa-solid fa-boxes-stacked me-1"></i>
        Quantity
      </button>
    </section>
    
    <section>
      <canvas id="myChart" height="200rem" width="300rem"></canvas>
    </section>
  </main>
<%- include('../../shared/homepage/footer') %>