<%- include('../../shared/includes/head', { pageTitle: 'Statistics' }) %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="/scripts/statistic-management.js" defer></script>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h3 class="my-3">
      Number of revenue by month of the current year (<%= year %>)
    </h3>
    <h3 class="text-warning my-3">Highest Revenue: <%= max %> VND</h3>
    <button class="btn mb-3" data-csrf="<%= locals.csrfToken %>" id="showChart">
      Show chart
    </button>
    <section>
      <canvas id="myChart" height="150" width="300"></canvas>
    </section>
  </main>
<%- include('../../shared/includes/footer') %>