<%- include('../../shared/homepage/head', { pageTitle: 'Statistics' }) %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="/scripts/statistic-management.js" defer></script>
</head>
<body>
  <%- include('../../shared/homepage/header') %>
  <main>
    <h1 class="my-2">
      Sales Statistics
    </h1>
    <div class="d-flex my-3">
      <label for="time" class="fs-3 me-2">Time range</label>
      <select name="time" id="time" class="rounded-2">
        <option value="month">By month in current year</option>
        <option value="year">The last 10 year</option>
      </select>

      <button class="btn mx-3" data-csrf="<%= locals.csrfToken %>" id="revenue">
        Revenue
      </button>
      <button class="btn" data-csrf="<%= locals.csrfToken %>" id="quantity">
        Quantity
      </button>
    </div>
    
    <section>
      <canvas id="myChart" height="200rem" width="300rem"></canvas>
    </section>
  </main>
<%- include('../../shared/homepage/footer') %>