<link rel="stylesheet" href="/styles/forms.css" />
<script src="/scripts/update-address.js" defer></script>

<form
  action="<%= submitPath %>?_csrf=<%= locals.csrfToken %>"
  method="POST"
  enctype="multipart/form-data"
>
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-black" id="exampleModalLabel">Update your account</h1>
          <button
            type="reset"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>
            <label for="username">Username (<span class="text-danger">*</span>)</label>
            <input
              type="text"
              id="username"
              name="username"
              maxlength="50"
              value="<%= account.username %>"
              class="form-control"
              required
            />
          </p>
          <p>
            <label for="fullname">Fullname (<span class="text-danger">*</span>)</label>
            <input
              type="text"
              id="fullname"
              name="fullname"
              maxlength="100"
              value="<%= account.fullname %>"
              class="form-control"
              required
            />
          </p>

          <section class="image-upload-control">
            <p>
              <label class="text-black" for="image">Image (<span class="text-danger">*</span>)</label>
              <input
                type="file"
                id="image"
                name="image"
                accept="image/png,image/jpg"
                class="text-black border-0"
              />
            </p>
            <img src="<%= account.imageUrl %>" alt="Selected image." />
          </section>

          <p>
            <input type="text" id="address" value="<%= account.address %>" class="d-none">
            <label for="street">Address (<span class="text-danger">*</span>)</label>
            <section class="combobox">             
              <select id="city" name="city" class="rounded-2" required></select>
              <select id="district" name="district" class="rounded-2" required></select>
              <select id="ward" name="ward" class="rounded-2" required></select>
              <input type="text" id="street" name="street" maxlength="50" value="" placeholder=" Apartment number + street" class="form-control" required>
            </section>
          </p>
          <p>
            <label for="birthday">Birthday (<span class="text-danger">*</span>)</label>
            <input type="date" id="birthday" name="birthday" max="<%= new Date().toISOString().split('T')[0] %>" value="<%= account.birthday %>" class="form-control" required />
          </p>
          <p>
            <label for="phone">Phone Number</label>
            <input type="tel" name="phone" id="phone" pattern="[0-9]{10}" maxlength="10" placeholder=" Contain 10 digits" value="<%= account.phone %>" class="form-control" />
          </p>
          <p>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}$" maxlength="30" placeholder=" Ex: abc@gmail.com" value="<%= account.email %>" class="form-control" />
          </p>          
        </div>
        <div class="modal-footer">
          <button
            type="reset"
            class="btn btn-alt text-secondary border-secondary"
          >
            <i class="fa-solid fa-arrow-rotate-right"></i> Reset
          </button>
          <button class="btn bg-primary border-primary">
            <i class="fa-solid fa-check"></i>
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
