<form
  action="<%= submitPath %>?_csrf=<%= locals.csrfToken %>"
  method="POST"
  enctype="multipart/form-data"
>
  <p>
    <label for="username">Username</label>
    <input
      type="text"
      id="username"
      name="username"
      value="<%= account.username %>"
      required
    />
  </p>
  <hr />
  <p>
    <label for="fullname">Full Name</label>
    <input
      type="text"
      id="fullname"
      name="fullname"
      value="<%= account.name %>"
      required
    />
  </p>

  <section id="image-upload-control">
    <p>
      <label for="image">image</label>
      <input type="file" id="image" name="image" accept="image/png,image/jpg" />
    </p>

    <img src="" alt="Selected image." />
  </section>

  <p>
    <label for="street">Street</label>
    <input
      type="text"
      id="street"
      name="street"
      value="<%= account.address.street %>"
      required
    />
  </p>
  <p>
    <label for="postal">Postal Code</label>
    <input
      type="text"
      id="postal"
      name="postal"
      minlength="5"
      maxlength="5"
      value="<%= account.address.postalCode %>"
      required
    />
  </p>
  <p>
    <label for="city">City</label>
    <input
      type="text"
      id="city"
      name="city"
      value="<%= account.address.city %>"
      required
    />
  </p>

  <p>
    <button type="reset" class="btn btn-alt">Reset</button>
    <button class="btn btn-solid">Save</button>
  </p>
</form>
