<article class="product-item">
  <div class="product-item-content">
    <h2 class="text-truncate"><%= category.title %></h2>
    <div class="product-item-actions d-flex">
      <% if (locals.isAdmin) { %>
      <a class="btn btn-alt" href="/admin/categories/<%= category.id %>"
        >Update</a
      >
      <form action="/admin/categories/delete/<%= category.id %>" method="POST">
        <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
        <button class="btn btn-alt mx-2">Delete</button>
      </form>
      <% } %>
      <a class="btn btn-alt" href="/categories/<%= category.id %>"
        >View Products</a
      >
    </div>
  </div>
</article>
