<link rel="stylesheet" href="/styles/forms.css" />

<article class="order-item">
  <header class="order-summary">
    <h2>
      <span class="order-item-price">
        <%= order.productData.totalPrice.toLocaleString('vi-VN') %> VND
      </span>
      - <%= order.formattedDate %>
    </h2>
    <% if(order.status === 'pending') { %>
    <i class="text-danger fw-medium">
      (Cancel on <%= new Date(order.date.getTime() + 24 * 3600 *
      1000).toLocaleString('en-US', { weekday: 'short', month: 'long', day:
      'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric', second:
      'numeric' }) %>)
    </i>
    <% } %>
    <p><span class="badge"><%= order.status.toUpperCase() %></span></p>
  </header>

  <section class="order-details">
    <% if (locals.isAdmin) { %>
    <address>
      <p>
        <a href="mailto:<%= order.userData.username %>"
          ><%= order.userData.username %></a
        >
      </p>
    </address>
    <% } %>
    <ul>
      <% for (const item of order.productData.items) { %>
      <li>
        <%= item.product.title %> - <%= item.totalPrice.toLocaleString('vi-VN')
        %> VND (<%= item.product.price.toLocaleString('vi-VN') %> VND x <%=
        item.quantity %>)
      </li>
      <% } %>
    </ul>
    <% if (!locals.isAdmin && order.status === "pending") { %>
    <section class="d-flex gap-3 justify-content-center">
      <button
        type="button"
        class="btn btn-alt"
        data-bs-toggle="modal"
        data-bs-target="#YesNoModal1"
      >
        <i class="fa-solid fa-xmark"></i>
        CANCEL
      </button>
      <button
        type="button"
        class="btn btn-alt px-4"
        data-bs-toggle="modal"
        data-bs-target="#YesNoModal2"
      >
        <i class="fa-solid fa-credit-card me-1"></i>
        PAY
      </button>
    </section>
    <%- include('../../../admin/popup/includes/yes-no-popup', { submitPath:
    '/orders/cancel', message: 'cancel this order?', i: 1 }) %> <%-
    include('../../../admin/popup/includes/yes-no-popup', { submitPath:
    '/orders/pay', message: 'pay for this order?', i: 2 }) %> <% } %>
  </section>
</article>
