<article class="cart-item">
  <article class="cart-item-info">
    <h2><%= item.product.title %></h2>
    <p>
      <span class="cart-item-price"><%= item.totalPrice %> VND </span>
      <span class="cart-product-price"
        >(Đơn giá: <%= item.product.price %> VND)</span
      >
    </p>
  </article>

  <form
    class="cart-item-management d-flex"
    style="height: fit-content"
    data-productid="<%= item.product.id %>"
    data-csrf="<%= locals.csrfToken %>"
  >
    <input
      type="number"
      value="<%= item.quantity %>"
      class="w-50 me-2"
      required
    />
    <button class="btn btn-alt">Update</button>
  </form>
</article>
